<div class="centered p-1">
  <form [formGroup]="form" class="p-3 rounded custom-insert-form container" (submit)="emitUserUpdate()">
    <div class="row">
      <label for="username" class="col-form-label fw-bold mt-1">Username</label>
      <div class="mt-0">
        <input class="form-control" type="text" placeholder="Username" formControlName="username" id="username">
      </div>
    </div>
    <div class="row">
      <label for="mail" class="col-form-label fw-bold mt-1">Mail</label>
      <div class="mt-0">
        <input class="form-control" type="text" placeholder="Mail" formControlName="mail" id="mail">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-0">
        <label for="name" class="col-form-label fw-bold mt-1">Name</label>
        <input class="form-control" type="text" placeholder="Name" formControlName="name" id="name">
      </div>
      <div class="col-md-6 mt-0">
        <label for="surname" class="col-form-label fw-bold mt-1">Surname</label>
        <input class="form-control" type="text" placeholder="Surname" formControlName="surname" id="surname">
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-0">
        <label for="birth-date" class="col-form-label fw-bold mt-1">Birth Date</label>
        <input class="form-control" type="date" formControlName="birthDate" id="birth-date">
      </div>
      <div class="col-6 mt-0">
        <label for="gender" class="col-form-label fw-bold mt-1">Gender</label>
        <select class="form-control" formControlName="gender" id="gender">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    @if (modifyState) {
      <div class="d-flex flex-column align-items-center mt-3">
        <input class="custom-btn fw-bold w-50 rounded" type="submit" value="Modify" [disabled]="form.invalid">
        <input routerLink="/account" class="custom-btn fw-bold w-50 mt-1 rounded" type="button" value="Cancel">
      </div>
    } @else {
      <div class="d-flex flex-column align-items-center mt-3">
        <input routerLink="password" class="custom-btn fw-bold w-50 rounded" type="button" value="Change password">
        <input (click)="activateModifyState()" class="custom-btn w-50 fw-bold mt-1 rounded" type="button" value="Modify">
        <input routerLink="delete" class="custom-btn bg-danger text-white w-50 fw-bold mt-1 rounded" type="button" value="Delete">
      </div>
    }
  </form>
</div>
