<div class="centered p-1">
  <form [formGroup]="form" (submit)="emitUserFood()" class="custom-insert-form p-3 rounded container" autocomplete="off">
    <h3>Insert a food</h3>
    <div class="row">
      <label for="name" class="col-form-label fw-bold mt-1">Name</label>
      <div class="mt-0">
        <input class="form-control" type="text" placeholder="Name" list="foodList" formControlName="name"
               id="name">
        <datalist id="foodList">
          @for (food of foods; track food.id) {
            <option [value]="food.name"></option>
          }
        </datalist>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 mt-0">
        <label for="quantityInG" class="col-form-label fw-bold mt-1">Quantity (g)</label>
        <input class="form-control" type="number" formControlName="quantityInG" id="quantityInG">
      </div>
      <div class="col-sm-6 mt-0">
        <label for="eatenDatetime" class="col-form-label fw-bold mt-1">Date</label>
        <input class="form-control" type="datetime-local" formControlName="eatenDatetime" id="eatenDatetime">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <input class="custom-btn w-50 fw-bold mt-3 rounded" type="submit" value="Insert" [disabled]="form.invalid">
    </div>
  </form>
</div>
