<form [formGroup]="form" (submit)="emitUserFood()" class="m-3 p-3 rounded" [@colorChange]="colorChange" autocomplete="off">
  <h3>Insert a food</h3>
  <div class="row">
    <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
    <div class="col-sm-10">
      <input class="form-control w-100" type="text" placeholder="Name" list="foodList" formControlName="name" id="name">
      <datalist id="foodList">
        @for (food of foods; track food.id) {
          <option [value]="food.name"></option>
        }
      </datalist>
    </div>
  </div>
  <div class="row">
    <label for="quantityInG" class="col-sm-2 col-form-label fw-bold">Quantity in grams</label>
    <div class="col-sm-10">
      <input class="form-control w-100" type="number" formControlName="quantityInG" id="quantityInG">
    </div>
  </div>
  <div class="row">
    <label for="eatenDatetime" class="col-sm-2 col-form-label fw-bold">Eaten</label>
    <div class="col-sm-10">
      <input class="form-control w-100" type="datetime-local" formControlName="eatenDatetime" id="eatenDatetime">
    </div>
  </div>
  <input class="btn btn-primary w-100 fw-bold mt-5" type="submit" value="Insert" [disabled]="form.invalid">
</form>
