<div class="h-100 p-4">
  <form class="custom-insert-form w-50 mx-auto m-3 p-3 rounded" [formGroup]="formSearch">
    <label for="category" class="form-label">
      <h4>Filter notifications by :</h4>
    </label>

    <div class="mb-3">
      <h5>Category :</h5>
      <select id="category" class="dropdown form-select" formControlName="category" (change)="debouncedFilterNotifications()">
        @for (category of allCategories; track $index) {
          <option [value]="category.value">
            {{ category.name }}
          </option>
        }
      </select>
    </div>

    <div class="mb-3">
      <h5>Is Read :</h5>
      <select id="read" class="dropdown form-select" formControlName="isRead" (change)="debouncedFilterNotifications()">
        <option value="all">All</option>
        <option value="read">Read</option>
        <option value="not-read">Not read</option>
      </select>
    </div>

  </form>
</div>
