<form [formGroup]="form" (submit)="emitChangePassword($event)">
  <div>
    <label for="current-password">Current password</label>
    <input type="password" formControlName="currentPassword" id="current-password">
  </div>
  <div>
    <label for="new-password">New password</label>
    <input type="password" formControlName="newPassword" id="new-password">
  </div>
  <div>
    <label for="confirm-password">Confirm password</label>
    <input type="password" formControlName="confirmPassword" id="confirm-password">
  </div>
  <input type="submit" value="Submit" [disabled]="!isFormValid()">
</form>
