<div class="d-flex justify-content-center align-items-center h-100">
  <form [formGroup]="form" (submit)="emitChangePassword($event)" class="custom-insert-form m-3 p-3 rounded w-50">
    <div class="mb-3">
      <label for="current-password" class="form-label">Current password</label>
      <input type="password" class="form-control" formControlName="currentPassword" id="current-password" placeholder="Current password">
    </div>

    <div class="mb-3">
      <label for="new-password" class="form-label">New password</label>
      <input type="password" class="form-control" formControlName="newPassword" id="new-password" placeholder="New password">
    </div>

    <div class="mb-3">
      <label for="confirm-password" class="form-label">Confirm password</label>
      <input type="password" class="form-control" formControlName="confirmPassword" id="confirm-password" placeholder="Confirm password">
    </div>

    <div class="submit-container">
      <input type="submit" value="Submit" [disabled]="!isFormValid()" class="custom-btn w-100">
    </div>
  </form>
</div>
