<div class="centered p-1">
  <form [formGroup]="form" (submit)="emitUserPhysical()" class="custom-insert-form p-3 rounded container">
    <h3>Insert your physical data</h3>
    <div class="row">
      <div class="col-sm-6 mt-0">
        <label for="weight" class="col-form-label fw-bold mt-1">Weight (kg)</label>
        <input class="form-control" type="number" formControlName="weight" id="weight" min="0.1" step="0.1">
      </div>
      <div class="col-sm-6 mt-0">
        <label for="height" class="col-form-label fw-bold mt-1">Height (cm)</label>
        <input class="form-control" type="number" formControlName="height" id="height" min="1" step="1">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <input class="custom-btn w-50 fw-bold mt-3 rounded" type="submit" value="Insert" [disabled]="form.invalid">
    </div>
  </form>
</div>
