@if (sportPlans.length) {
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th>Name</th>
        <th>Privacy</th>
        <th>Duration (days)</th>
      </tr>
      </thead>
      <tbody>
        @for (sportPlan of sportPlans; track $index) {
          <tr (dblclick)="selectPlan(sportPlan)" [ngClass]="{ 'selected': isSelected(sportPlan) }">
            <td (mouseenter)="showTooltip($event, sportPlan.description)" (mouseleave)="hideTooltip()">{{ sportPlan.name }}</td>
            <td>{{ sportPlan.privacy }}</td>
            <td>{{ sportPlan.durationInDays }}</td>
          </tr>
        }
      </tbody>
    </table>

    <div class="position-absolute">
      @for (selectedPlan of selectedPlans; track $index) {
        <button class="btn-info" disabled>{{ selectedPlan.name}}</button>
      }
    </div>
  </div>

  <div id="tooltip" class="tooltip-custom" hidden></div>
} @else {
  <h2>No Sports Found</h2>
}
