@if (sportPlans.length) {
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Privacy</th>
        <th>Duration (days)</th>
      </tr>
      </thead>
      <tbody>
        @for (sportPlan of sportPlans; track $index) {
          <tr>
            <td>{{ sportPlan.name }}</td>
            <td>{{ sportPlan.privacy }}</td>
            <td>{{ sportPlan.durationInDays }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <h2>No Sports Found</h2>
}
