@if (sleepPlans.length) {
  <div class="container">
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-6">Name</div>
        <div class="col col-6">Duration (days)</div>
      </li>
      @for (sleepPlan of sleepPlans; track $index) {
        <li class="table-row" (dblclick)="selectPlan(sleepPlan)" [ngClass]="{ 'selected': isSelected(sleepPlan) }">
          <div class="col col-6">
            {{ sleepPlan.name }}
          </div>
          <div class="col col-6">
            {{ sleepPlan.durationInDays }}
          </div>
        </li>
      }
    </ul>
  </div>
} @else {
  <h2>No Sports Found</h2>
}
