<div class="centered p-1">
  <form [formGroup]="form" (submit)="emitSignUp()" class="p-3 rounded custom-form container">
    <div class="row">
      <label for="username" class="col-form-label fw-bold mt-1">Username</label>
      <div class="mt-0">
        <input class="form-control" type="text" placeholder="Username" formControlName="username" id="username">
      </div>
    </div>

    <div class="row">
      <label for="mail" class="col-form-label fw-bold mt-1">Mail</label>
      <div class="mt-0">
        <input class="form-control" type="email" placeholder="Mail" formControlName="mail" id="mail">
        @if (form.controls['mail'].invalid && form.controls['mail'].value.length > 0){
          <div class="text-danger small-text">
            Invalid email entered.
          </div>
        }
      </div>
    </div>

    <div class="row">
      <label for="password" class="col-form-label fw-bold mt-1">Password</label>
      <div class="mt-0">
        <input class="form-control" type="password" placeholder="Password" formControlName="password" id="password">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mt-0">
        <label for="name" class="col-form-label fw-bold mt-1">Name</label>
        <div class="mt-0">
          <input class="form-control" type="text" placeholder="Name" formControlName="name" id="name">
        </div>
      </div>
      <div class="col-md-6 mt-0">
        <label for="surname" class="col-form-label fw-bold mt-1">Surname</label>
        <div class="mt-0">
          <input class="form-control" type="text" placeholder="Surname" formControlName="surname" id="surname">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-0">
        <label for="birth-date" class="col-form-label fw-bold mt-1">Birth Date</label>
        <div class="mt-0">
          <input class="form-control" type="date" formControlName="birthDate" id="birth-date">
        </div>
      </div>
      <div class="col-6 mt-0">
        <label for="gender" class="col-form-label fw-bold mt-1">Gender</label>
        <div class="mt-0">
          <select class="form-control w-100" formControlName="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6 mt-0">
        <label for="height" class="col-form-label fw-bold mt-1">Height (cm)</label>
        <input class="form-control w-100" type="number" formControlName="heightInCm" id="height">
        @if (form.controls['heightInCm'].invalid && isHeightTouched()) {
          <div class="text-danger small-text">
            Height is required and must be positive
          </div>
        }
      </div>
      <div class="col-6 mt-0">
        <label for="weight" class="col-form-label fw-bold mt-1">Weight (kg)</label>
        <input class="form-control w-100" type="number" formControlName="weightInG" id="weight">
        @if (form.controls['weightInG'].invalid && isWeightTouched()) {
          <div class="text-danger small-text">
            Weight is required and must be positive
          </div>
        }
      </div>
    </div>
    <input class="btn btn-dark rounded-3 w-100 mt-3" type="submit" value="Sign up" [disabled]="form.invalid">
  </form>
</div>
