<div class="d-flex flex-column justify-content-center align-items-center me-5 ms-5 mt-2 mb-2">

  <div class="row w-100">
    <div class="col-12 col-md-4 mt-3">
      <div class="card h-100 border-top-sport-color">
        <div class="card-header rounded-0 d-flex flex-row justify-content-between align-items-center">
          <h4 class="card-title text-dark fw-bold">Sport</h4>
          <i class="fa-solid fa-person-running custom-icon p-4 rounded-1"></i>
        </div>
        <div class="card-body">
          @if (!!userData.lastSport) {
            <h5 class="col-8"><u>{{ userData.lastSport.name }}</u></h5>
            <p class="col-4 card-text">
              <b>Date:</b> {{ userData.lastSport.startDatetime | date: 'EEEE d/M/y' }}<br/>
              <b>Duration:</b> {{ dateDiff(userData.lastSport.endDatetime, userData.lastSport.startDatetime) | time }}
            </p>
          } @else {
            <h5 class="h-100">No sport found</h5>
          }
        </div>
        <div class="card-footer d-flex justify-content-around gap-1 m-1">
          <a routerLink="/profile/sport-data-manager" class="btn btn-dark w-100 fw-bold">Consult</a>
          <a routerLink="/insert/sport" class="btn btn-light border-dark-subtle w-100 fw-bold">Add</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card h-100 border-top-food-color">
        <div class="card-header rounded-0 d-flex flex-row justify-content-between align-items-center">
          <h4 class="card-title text-dark fw-bold">Food</h4>
          <i class="fa-solid fa-carrot custom-icon p-4 rounded-1"></i>
        </div>
        <div class="card-body">
          @if (!!userData.lastFood) {
            <h5><u>{{ userData.lastFood.name }}</u></h5>
            <p class="card-text">
              <b>Date:</b> {{ userData.lastFood.eatenDatetime | date: 'EEEE d/M/y' }}<br/>
              <b>Quantity:</b> {{ userData.lastFood.quantityInG }}g
            </p>
          } @else {
            <h5 class="h-100">No food found</h5>
          }
        </div>
        <div class="card-footer d-flex justify-content-around gap-1 m-1">
          <a routerLink="/profile/food-data-manager" class="btn btn-dark w-100 fw-bold">Consult</a>
          <a routerLink="/insert/food" class="btn btn-light border-dark-subtle w-100 fw-bold">Add</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card h-100 border-top-sleep-color">
        <div class="card-header rounded-0 d-flex flex-row justify-content-between align-items-center">
          <h4 class="card-title text-dark fw-bold">Sleep</h4>
          <i class="fa-solid fa-bed custom-icon p-4 rounded-1"></i>
        </div>
        <div class="card-body">
          @if (!!userData.lastSleep) {
            <p class="card-text">
              <b>Date:</b> {{ userData.lastSleep.startDatetime | date: 'EEEE d/M/y' }}<br/>
              <b>Duration:</b> {{ dateDiff(userData.lastSleep.endDatetime, userData.lastSleep.startDatetime) | time }}
            </p>
          } @else {
            <h5 class="h-100">No sleep found</h5>
          }
        </div>
        <div class="card-footer d-flex justify-content-around gap-1 m-1">
          <a routerLink="/profile/sleep-data-manager" class="btn btn-dark w-100 fw-bold">Consult</a>
          <a routerLink="/insert/sleep" class="btn btn-light border-dark-subtle w-100 fw-bold">Add</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row w-100">
    <div class="col-12 col-md-4 mt-3">
      <div class="card h-100 border-top-period-color">
        <div class="card-header rounded-0 d-flex flex-row justify-content-between align-items-center">
          <h4 class="card-title text-dark fw-bold">Periods</h4>
          <i class="fa-solid fa-person-dress custom-icon p-4 rounded-1"></i>
        </div>
        <div class="card-body">
          @if (!!userData.lastPeriod) {
            <p class="card-text">
              <b>Start date:</b> {{ userData.lastPeriod.startDate | date: 'EEEE d/M/y' }}<br/>
              <b>End date:</b> {{ userData.lastPeriod.endDate | date: 'EEEE d/M/y' }}
            </p>
          } @else {
            <h5 class="h-100">No periods found</h5>
          }
        </div>
        <div class="card-footer d-flex justify-content-around gap-1 m-1">
          <a routerLink="/profile/period-data-manager" class="btn btn-dark w-100 fw-bold">Consult</a>
          <a routerLink="/insert/period" class="btn btn-light border-dark-subtle w-100 fw-bold">Add</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 mt-3">
      <div class="card h-100 border-top-height-color">
        <div class="card-header rounded-0 d-flex flex-row justify-content-between align-items-center">
          <h4 class="card-title text-dark fw-bold">Height</h4>
          <i class="fa-solid fa-person-arrow-up-from-line custom-icon p-4 rounded-1"></i>
        </div>
        <div class="card-body">
          @if (userData.lastHeight) {
            <p class="card-text">
              <b>Date:</b> {{ userData.lastHeight.inputDate | date: 'EEEE d/M/y' }}<br/>
              <b>Height:</b> {{ userData.lastHeight.heightInCm }} cm
            </p>
          } @else {
            <h5 class="h-100">No height found</h5>
          }
        </div>
        <div class="card-footer d-flex justify-content-around gap-1 m-1">
          <a routerLink="/profile/physical/height"
             class="btn btn-dark w-100 fw-bold">Consult</a>
          <a routerLink="/insert/physical" class="btn btn-light border-dark-subtle w-100 fw-bold">Add</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mt-3">
      <div class="card h-100 border-top-weight-color">
        <div class="card-header rounded-0 d-flex flex-row justify-content-between align-items-center">
          <h4 class="card-title text-dark fw-bold">Weight</h4>
          <i class="fa-solid fa-scale-unbalanced-flip custom-icon p-4 rounded-1"></i>
        </div>
        <div class="card-body">
          @if (userData.lastWeight) {
            <p class="card-text">
              <b>Date:</b> {{ userData.lastWeight.inputDate | date: 'EEEE d/M/y' }}<br/>
              <b>Weight:</b> {{ userData.lastWeight.weightInG / 1000 }} kg
            </p>
          } @else {
            <h5 class="h-100">No weight found</h5>
          }
        </div>
        <div class="card-footer d-flex justify-content-around gap-1 m-1">
          <a routerLink="/profile/physical/weight"
             class="btn btn-dark w-100 fw-bold">Consult</a>
          <a routerLink="/insert/physical" class="btn btn-light border-dark-subtle w-100 fw-bold">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
