<div class="container">
  <div class="content">
    <h1 class="display-4">Welcome to BeHealth</h1>
    <p class="lead">Welcome to our well-being and health website, created by students with a mission to help you achieve a balanced and fulfilling life. This platform is designed to provide practical advice and resources to improve or maintain your physical and mental well-being.</p>
    <p class="lead">Our site is tailored for everyone, whether you're looking to adopt a healthier lifestyle, build new habits, or simply find tips to care for yourself daily. Join us and discover how to take charge of your health with accessible information and recommendations for all ages and lifestyles.</p>
  </div>
</div>
