@if (authService.isAuthenticated()) {
  @if (authService.isAdmin()) {
    <div class="d-flex justify-content-center align-items-center form-check form-switch toggle-admin-dashboard">
      <input
        mdbCheckbox
        class="form-check-input large-toggle"
        type="checkbox"
        id="adminDashBoardChecked"
        [checked]="false"
        (change)="adminDashboardIsChecked = !adminDashboardIsChecked"
      />
      <label class="form-check-label font-weight-bold" for="adminDashBoardChecked">
        Admin dashboard
      </label>
    </div>
    @if (adminDashboardIsChecked) {
      <app-admin-dashboard></app-admin-dashboard>
    } @else {
      <app-dashboard></app-dashboard>
    }
  } @else {
    <app-dashboard></app-dashboard>
  }
} @else {
  <app-home-default></app-home-default>
}
