<table class="table">
  <tr>
    <th class="col-5">Sport</th>
    <th class="col-2">Day</th>
    <th class="col-2">Time</th>
    <th class="col-2">Duration</th>
    @if (isEditMode) {
      <th class="col-1"></th>
    }
  </tr>
  @for (planSport of planSports; track $index) {
    <tr>
      <td>{{planSport.name}}</td>
      <td>{{planSport.dayNumber}}</td>
      <td>{{planSport.dayTime}}</td>
      <td>{{planSport.durationInMin * 60 | time }}</td>
      @if (isEditMode) {
        <td><input type="button" value="X" (click)="deletePlanSport($index)"></td>
      }
    </tr>
  }
</table>
