<div class="centered p-1">
  <form [formGroup]="form" (submit)="emitUserSleep()" class="custom-insert-form p-3 rounded container">
    <h3>Insert a sleep</h3>
    <div class="row">
      <div class="col-sm-6 mt-0">
        <label for="startDatetime" class="col-form-label fw-bold mt-1">Start</label>
        <input class="form-control" type="datetime-local" formControlName="startDatetime" id="startDatetime">
      </div>
      <div class="col-sm-6 mt-0">
        <label for="endDatetime" class="col-form-label fw-bold mt-1">End</label>
        <input class="form-control" type="datetime-local" formControlName="endDatetime" id="endDatetime">
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <input class="custom-btn w-50 fw-bold mt-3 rounded" type="submit" value="Insert" [disabled]="form.invalid">
    </div>
  </form>
</div>
