<form [formGroup]="form" (submit)="emitUserSport()" class="m-3 p-3 rounded" [@colorChange]="colorChange">
  <h3>Insert a sport</h3>
  <div class="row">
    <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
    <div class="col-sm-10">
      <input class="form-control w-100" type="text" placeholder="Name" formControlName="name" id="name">
    </div>
  </div>
  <div class="row">
    <label for="startDatetime" class="col-sm-2 col-form-label fw-bold">Start</label>
    <div class="col-sm-4">
      <input class="form-control w-100" type="datetime-local" formControlName="startDatetime" id="startDatetime">
    </div>
    <label for="endDatetime" class="col-sm-2 col-form-label fw-bold">End</label>
    <div class="col-sm-4">
      <input class="form-control w-100" type="datetime-local" formControlName="endDatetime" id="endDatetime">
    </div>
  </div>
  <input class="btn btn-primary w-100 fw-bold mt-5" type="submit" value="Insert" [disabled]="form.invalid">
</form>
