<div class="d-flex justify-content-center align-items-center h-100">
<form [formGroup]="form" (submit)="emitUserSport()" class="custom-insert-form m-3 p-3 rounded" [@colorChange]="colorChange" autocomplete="off">
  <h3>Insert a sport</h3>
  <div class="row">
    <label for="name" class="col-sm-2 col-form-label fw-bold">Name</label>
    <div class="col-sm-10">
      <input class="form-control w-100" type="text" placeholder="Name" list="sportList" formControlName="name" id="name">
      <datalist id="sportList">
        @for (sport of sports; track sport.id) {
          <option [value]="sport.name"></option>
        }
      </datalist>
    </div>
  </div>
  <div class="row">
    <label for="startDatetime" class="col-sm-2 col-form-label fw-bold">Start</label>
    <div class="col-sm-4">
      <input class="form-control w-100" type="datetime-local" formControlName="startDatetime" id="startDatetime">
    </div>
    <label for="endDatetime" class="col-sm-2 col-form-label fw-bold">End</label>
    <div class="col-sm-4">
      <input class="form-control w-100" type="datetime-local" formControlName="endDatetime" id="endDatetime">
    </div>
  </div>
  <input class="custom-btn w-100 fw-bold mt-5" type="submit" value="Insert" [disabled]="form.invalid">
</form>
</div>
