.alert {
  margin: 10px auto;
  max-width: 600px;
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
}


.btn-close:hover {
  opacity: 1;
}
