<div class="container mt-3 rounded-3 notification-read p-3 d-flex shadow-sm">
  <div class="program rounded-3 w-100 bg-light">
    <div class="pt-2 pb-2 px-3 row align-content-between border-bottom">
      <h3 class="fw-bold">{{ notificationToPrint.category }}</h3>
    </div>
    <div class="p-3 pb-1 d-flex flex-column justify-content-between">
      <h5 class="card-title mb-2 text-dark fw-semibold">{{ notificationToPrint.title }}</h5>
      <p class="card-text text-muted mb-3">{{ notificationToPrint.description }}</p>
      <div class="text-muted small text-end border-0">
        {{ timeFromReceive }}
      </div>
    </div>
    <div class="card-footer d-flex flex-column align-items-center bg-white">
      <button
        class="btn btn-outline-primary rounded-pill mt-1"
        data-mdb-ripple-init
        (click)="toggleSeen()"
      >
        {{ notificationToPrint.seen ? 'Mark as Not Read' : 'Mark as Read' }}
      </button>
    </div>
  </div>
</div>
