<div class="container">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col-6">Title</div>
      <div class="col-6">Creator</div>
    </li>
    @for (program of programs; track $index) {
      <div class="table-row-container" (click)="showProgramInfo(program.id)">
        <li class="table-row">
          <div class="col-6">
            {{ program.title }}
          </div>
          <div class="col-6">
            {{ program.creatorName }}
          </div>
        </li>
      </div>
      @if (program == selectedProgram) {
        <div>
          <app-program-info [program]="selectedProgram"></app-program-info>
        </div>
      }
    }
  </ul>
</div>

