<form class="d-flex flex-column justify-content-center align-items-center p-3 rounded"
      [formGroup]="form" (submit)="emitSearchProgram()">
  <!-- Champ Title -->
  <div class="w-50 mb-2">
    <input class="form-control" formControlName="title" placeholder="Title">
  </div>

  <!-- Bouton Submit -->
  <div class="w-50 mb-2">
    <input class="custom-btn rounded-3 w-100 mt-auto" type="submit" [disabled]="form.invalid" value="Filter">
  </div>

</form>

<ul class="program-list container mt-3">
  @for (program of programs; track $index) {
    <li class="">
      <div class="program pt-1 pb-1 p-1 p-md-2 p-xl-3 row align-content-between" (click)="showProgramInfo(program.id)">
        <div class="col-8 col-md-10 d-flex flex-column justify-content-between">
          <p>{{ program.title }}</p>
          <p class="m-0">By : {{ program.creatorName }}</p>
        </div>
        <div class="col-4 col-md-2 d-flex flex-column gap-1">
          <button class="rounded p-2 custom-btn" (click)="addToRelations($event, program.id, 'favorite')">
            <i class="far fa-star"></i>
          </button>
          <button type="button" class="rounded p-2 custom-btn"
                  (click)="addToRelations($event, program.id, 'subscription')">
            Subscribe
          </button>
        </div>
      </div>
      @if (program == selectedProgram) {
        <div class="m-1 m-md-2">
          <app-program-info [program]="selectedProgram"></app-program-info>
        </div>
      }
    </li>
  }
</ul>
