<form class="d-flex justify-content-center p-3 rounded-1"
      [formGroup]="form" (submit)="emitSearchProgram()">
  <div class="d-flex justify-content-center input-group mb-3 gap-2">
    <input class="rounded-1 search-input w-25 p-2" formControlName="title" placeholder="Title">

    <button type="submit" class="search-btn p-2 rounded-1">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</form>

<ul class="program-list container mt-3 rounded-1">
  @for (program of programs; track $index) {
    <li class="program rounded-1">
      <div class="p-2 row">
        <div class="col-8 col-md-10 d-flex flex-column justify-content-between" (click)="showProgramInfo(program.id)">
          <p>{{ program.title }}</p>
          <p class="m-0">By : {{ program.creatorName }}</p>
        </div>
        <div class="col-4 col-md-2 d-flex flex-column gap-1">
          @if (isAdmin) {
            <button type="button" class="rounded p-2 custom-btn btn-danger"
                    (click)="deletePrograms(program)">
              Delete
            </button>
          } @else {
            <button class="rounded p-2 custom-btn"
                    (click)="isStarred(program) ? deleteRelation(program.id, 'favorite') : addToRelations($event, program.id, 'favorite')">
              <i class="{{ isStarred(program) ? 'fas fa-star' : 'far fa-star' }}"></i>
            </button>

            <button type="button" class="rounded p-2 custom-btn"
                    (click)="isSubscribed(program) ? deleteRelation(program.id, 'subscription') : addToRelations($event, program.id, 'subscription')">
              {{ isSubscribed(program) ? 'Unsubscribe' : 'Subscribe' }}
            </button>

          }
        </div>
      </div>
      @if (program == selectedProgram) {
        <div class="m-1 m-md-2">
          <app-program-info [program]="selectedProgram"></app-program-info>
        </div>
      }
    </li>
  }
</ul>
