<div class="d-flex justify-content-center align-items-center h-100 p-5">
  <form class="custom-insert-form p-5" [formGroup]="form" (submit)="submit()">
    <h3>Create a program</h3>

    <div class="row gy-2">
      <div class="col-12 col-md-6">
        <input type="text" class="form-control" placeholder="Title" formControlName="title">
      </div>

      <div class="col-12 col-md-6 d-flex justify-content-center gap-1">
        <button type="button" class="custom-btn-lock rounded-2" (click)="setPrivacy()">
          <i class="fa-solid"
             [ngClass]="{'fa-lock': form.get('privacy')?.value == 'private', 'fa-lock-open': form.get('privacy')?.value == 'public'}"></i>
        </button>
        <input class="custom-btn rounded-2 custom-btn-lock w-100" type="submit"
               [value]="mode === 'create' ? 'Create' : 'Save'" [disabled]="form.invalid">
      </div>
    </div>

    <ul class="d-flex flex-wrap gap-2 mt-3">
      @if (selectedFoodPlan) {
        <li class="badge food-color p-2">{{ selectedFoodPlan.name }}</li>
      }
      @if (selectedSportPlan) {
        <li class="badge sport-color p-2">{{ selectedSportPlan.name }}</li>
      }
      @if (selectedSleepPlan) {
        <li class="badge sleep-color p-2">{{ selectedSleepPlan.name }}</li>
      }
    </ul>

    <textarea class="form-control w-100 mt-2" style="height: 20vh" id="" placeholder="Description"
              formControlName="description"></textarea>

    <div class="row mt-4 gy-2">
      <div class="col-md-6 col-lg-4 col-12">
        <app-food-plans-table [program]="program" (emitFoodPlan)="setSelectedFoodPlan($event)"></app-food-plans-table>
      </div>
      <div class="col-md-6 col-lg-4 col-12">
        <app-sport-plans-table [program]="program"
                               (emitSportPlan)="setSelectedSportPlan($event)"></app-sport-plans-table>
      </div>
      <div class="col-md-6 col-lg-4 col-12">
        <app-sleep-plans-table [program]="program"
                               (emitSleepPlan)="setSelectedSleepPlan($event)"></app-sleep-plans-table>
      </div>
    </div>

  </form>
</div>
