<div class="position-relative">
  <button class="nav-link" type="button" (click)="toggleNotifications()">
    <i class="far fa-message"></i>
    @if (unreadCount > 0){
      <span class="badge bg-danger badge-dot">{{ unreadCountDisplay }}</span>
    }
  </button>
  <div class="notification-menu shadow-sm" [class.d-none]="!showNotifications">
    <div class="dropdown-header fw-bold fs-6">
      <i class="far fa-comment me-3"></i>Notifications
    </div>
    <div class="px-3 py-2">
      @for (notification of notificationsNotRead; track $index) {
        <a class="dropdown-item" [routerLink]="['/notifications-reads', notification.id]">{{ notification.title }}</a>
      }
    </div>
    <hr class="dropdown-divider">
    <a class="dropdown-item text-muted" routerLink="/notifications" (click)="collapseNavbar()">
      <i class="far fa-eye me-3"></i>See all notifications
    </a>
  </div>
</div>
