<div>
  <form [formGroup]="formCreateNotification">
    <h3>Title : </h3><input type="text" formControlName="title">
    <h4>Description : </h4><input type="text" formControlName="description">
    <h5>Category:</h5>
    <select id="category" class="dropdown form-select" formControlName="category">
      @for (category of allCategories; track $index) {
        <option [value]="category.value">
          {{ category.name }}
        </option>
      }
    </select>
    <select id="user" class="dropdown form-select" formControlName="user">
    @for (user of users; track $index) {
      <option [value]="user.id">
        {{ user.username }}
      </option>
    }
  </select>
    <button
      type="submit"
      class="custom-btn rounded-3 col-3"
      [disabled]="formCreateNotification.invalid"
      (click)="createNotification()">
      Create Notification
    </button>
  </form>
</div>
