<form [formGroup]="form" (submit)="addPlanFood($event)">
  <table class="table">
    <tr>
      <td class="col-5 text-center">Food</td>
      <td class="col-2 text-center">Day</td>
      <td class="col-2 text-center">Time</td>
      <td class="col-2 text-center">Quantity (g)</td>
    </tr>
    <tr>
      <td class="col-5">
        <input type="text" formControlName="name" class="w-100" id="food-name">
      </td>
      <td class="col-2">
        <input type="number" formControlName="dayNumber" class="w-100">
      </td>
      <td class="col-2">
        <input type="time" formControlName="dayTime" class="w-100">
      </td>
      <td class="col-2">
        <input type="number" formControlName="quantityInG" class="w-100">
      </td>
      <td class="col-1">
        <input type="submit" class="w-100" value="Add" [disabled]="form.invalid">
      </td>
    </tr>
  </table>
</form>
