 @if (programs.length) {
   <ul class="program-list container mt-3">
    @for (program of programs; track $index) {
      <li class="">
        <div class="program pt-1 pb-1 p-1 p-md-2 p-xl-3 row align-content-between" (click)="showProgramInfo(program.program.id)">
          <div class="col-8 col-md-10 d-flex flex-column justify-content-between">
            <p>{{ program.program.title }}</p>
            <p class="m-0">By : {{ program.user.username }}</p>
          </div>

          <div class="col-4 col-md-2 d-flex flex-column gap-1">
            <button class="rounded p-2 custom-btn" (click)="deleteRelation(program.program.id, relationType)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                   viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg>
            </button>
          </div>
        </div>
        @if (program == selectedProgram) {
          <div class="m-1 m-md-2">
            <app-program-info [program]="selectedProgram.program"></app-program-info>
          </div>
        }
      </li>
    }
   </ul>
  } @else {
    <div class="alert alert-warning text-center mt-4" role="alert">
      <h1 class="display-4">No {{ relationType }}s yet!</h1>
    </div>
  }




