<div class="container mt-3">
  <h2>Foods</h2>
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (food of foods; track $index) {
        <tr>
        <td class="text-break align-middle">{{ food.name }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteFood(food.id)">
            Delete
          </button>
        </td>
        </tr>
      }
    </tbody>
  </table>
</div>
