<textarea class="form-control w-100" style="height: 20vh" disabled [value]="program.description"></textarea>

<div class="d-flex flex-column">
  <ul class="w-100 p-3">
    @for (plan of [foodPlan, sportPlan, sleepPlan]; track $index) {
      @if (plan) {
        <li (click)="showPlanInfo(plan.id)">
          <div class="d-flex">
            <div class="col-4 col-md-2 text-white text-uppercase text-center"
                 [ngClass]="{'food-color': plan.category == 'food','sport-color': plan.category == 'sport','sleep-color': plan.category == 'sleep'}">
              {{ plan.category }}
            </div>
            <div class="col-8 col-md-4 ps-3">
              Duration: {{ plan.durationInDays }} days
            </div>
          </div>
          <div class="p-1">
            <div>{{ plan.name }}</div>
              @if (selectedPlan) {
                @if (selectedPlan.id == plan.id) {
                  <textarea class="form-control w-100 mt-1" style="height: 20vh" disabled [value]="plan.description"></textarea>
                }
              }
          </div>
        </li>
      }
    }
  </ul>
</div>
