<form [formGroup]="form" (submit)="updatePlan()">

    <div class="container text-center">
        <div class="row bg-info rounded">
            <input type="text" class="col-2 form-control-lg w-auto m-3" formControlName="name">

            <select class="form-control-lg col-2 w-auto m-3" formControlName="privacy">
                <option value="private">Private</option>
                <option value="public">Public</option>
            </select>

            <select type="text" class="form-control-lg col-2 w-auto m-3" formControlName="category">
                <option value="sport">sport</option>
                <option value="food">food</option>
                <option value="sleep">sleep</option>
            </select>

            <input type="number" class="form-control-lg col-2 w-auto m-3" formControlName="durationInDays">
        </div>

        <div class="row">
            <textarea type="text" class="form-control-lg" style="min-height: 25vh" formControlName="description"></textarea>
        </div>
        <div class="row">
            <input class="form-control-lg" type="submit" value="Save" [disabled]="form.invalid">
        </div>
    </div>

</form>
