<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="">BeHealth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!--  Users  -->
        <a routerLink="/users" class="nav-link">Users</a>
        <!--  Programs  -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Programs
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Search</a>
            <a class="dropdown-item" href="#">Create</a>
          </div>
        </div>
        <!--  Plans  -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plans
          </a>
          <div class="dropdown-menu">
            <a routerLink="/plan-search-public" class="dropdown-item">Search</a>
            <a routerLink="/plan-create"  class="dropdown-item">Create</a>
          </div>
        </div>
        <!--  Profile  -->
        <div class="nav-item dropdown">
          <a routerLink="/profile" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Insert</h6>
            <a class="dropdown-item" routerLink="/insert/food">Food</a>
            <a class="dropdown-item" routerLink="/insert/sport">Sport</a>
            <a class="dropdown-item" routerLink="/insert/sleep">Sleep</a>
            <a class="dropdown-item" routerLink="/insert/period">Periods</a>
            <hr class="dropdown-divider">

            <h6 class="dropdown-header">Programs</h6>
            <a class="dropdown-item" href="#">Created</a>
            <a class="dropdown-item" href="#">Subscriptions</a>
            <a class="dropdown-item" href="#">Favorites</a>
            <hr class="dropdown-divider">

            <h6 class="dropdown-header">Plans</h6>
            <a class="dropdown-item" routerLink="/plan-search-private">Created</a>
            <a class="dropdown-item" href="#">Favorites</a>
            <hr class="dropdown-divider">

            <h6 class="dropdown-header">Data</h6>
            <a class="dropdown-item" href="#">Food</a>
            <a class="dropdown-item" href="#">Sport</a>
            <a class="dropdown-item" href="#">Sleep</a>
            <a class="dropdown-item" href="#">Periods</a>
            <hr class="dropdown-divider">

            <a class="dropdown-item" href="#">Account</a>
          </div>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        @if (authService.isAuthenticated()) {
          <a routerLink="/sign-out" class="nav-link">Sign Out</a>
        } @else {
          <a routerLink="/sign-in" class="nav-link">Sign In</a>
          <a routerLink="/sign-up" class="nav-link">Sign Up</a>
        }
      </div>
    </div>
  </div>
</nav>
