<nav class="navbar navbar-expand-lg fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="">BeHealth</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        @if (authService.isAdmin()) {
          <!--  Users  -->
          <a routerLink="/users" class="nav-link">Users</a>
        }
        <!-- Calculators -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Calculators
          </a>
          <div class="dropdown-menu">
            <!-- Bmi Calculator -->
            <a class="dropdown-item" routerLink="/bmi-calculator" (click)="collapseNavbar()">
              <i class="fas fa-calculator me-2"></i>BMI
            </a>
            <!-- Nutrition calculator -->
            <a class="dropdown-item" routerLink="/nutrition-calculator" (click)="collapseNavbar()">
              <i class="fas fa-utensils me-2"></i>Nutrition
            </a>
            <!-- Sport Calories Burned calculator -->
            <a class="dropdown-item" routerLink="/sport-calories-burned-calculator" (click)="collapseNavbar()">
              <i class="fas fa-fire me-2"></i>Sport
            </a>
          </div>
        </div>
        <!--  Programs  -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Programs
          </a>
          <div class="dropdown-menu">
            @if (authService.isAuthenticated()) {
              <h6 class="dropdown-header">My programs</h6>
              <a class="dropdown-item" routerLink="/program-search-mine" (click)="collapseNavbar()">
                <i class="far fa-user me-2"></i>Created
              </a>
              <hr class="dropdown-divider">
              <h6 class="dropdown-header">All programs</h6>
            }
            <a class="dropdown-item" routerLink="/program-search-public" (click)="collapseNavbar()">
              <i class="fas fa-magnifying-glass me-2"></i>Search
            </a>
            @if (authService.isAuthenticated()) {
              <a class="dropdown-item" routerLink="/program-create" (click)="collapseNavbar()">
                <i class="far fa-square-plus me-2"></i>Create
              </a>
            }
          </div>
        </div>
        <!--  Plans  -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plans
          </a>
          <div class="dropdown-menu">
            @if (authService.isAuthenticated()) {
              <h6 class="dropdown-header">My plans</h6>
              <a class="dropdown-item" routerLink="/plan-search-mine" (click)="collapseNavbar()">
                <i class="far fa-user me-2"></i>Created
              </a>
              <hr class="dropdown-divider">
              <h6 class="dropdown-header">All plans</h6>
            }
            <a routerLink="/plan-search-public" class="dropdown-item" (click)="collapseNavbar()">
              <i class="fas fa-magnifying-glass me-2"></i>Search
            </a>
            @if (authService.isAuthenticated()) {
              <a routerLink="/plan-create" class="dropdown-item" (click)="collapseNavbar()">
                <i class="far fa-square-plus me-2"></i>Create
              </a>
            }
          </div>
        </div>
      </div>
      <div class="navbar-nav ms-auto">
        @if (authService.isAuthenticated()) {
          <app-notifications-dropdown-view></app-notifications-dropdown-view>
          <a routerLink="/account" class="nav-link" (click)="collapseNavbar()">
            <i class="far fa-address-card d-none d-lg-block"></i>
            <span class="d-lg-none">Account</span>
          </a>
          <a class="nav-link" (click)="openModal(); collapseNavbar()">Sign Out</a>
        } @else {
          <a routerLink="/sign-in" class="nav-link" (click)="collapseNavbar()">Sign In</a>
          <a routerLink="/sign-up" class="nav-link" (click)="collapseNavbar()">Sign Up</a>
        }
      </div>
    </div>
  </div>
</nav>
