@if (foodPlans.length) {
  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
      <tr>
        <th>Name</th>
        <th>Duration (days)</th>
      </tr>
      </thead>
      <tbody>
        @for (foodPlan of foodPlans; track $index) {
          <tr (dblclick)="selectPlan(foodPlan)" [ngClass]="{ 'selected': isSelected(foodPlan) }">
            <td (mouseenter)="showTooltip($event, foodPlan.description)" (mouseleave)="hideTooltip()">{{ foodPlan.name }}</td>
            <td>{{ foodPlan.durationInDays }}</td>
          </tr>
        }
      </tbody>
    </table>
    <div class="position-absolute">
      @for (selectedPlan of selectedPlans; track $index) {
        <button class="btn-info" disabled>{{ selectedPlan.name}}</button>
      }
    </div>
  </div>

  <div id="tooltip" class="tooltip-custom" hidden></div>
} @else {
  <h2>No Foods Found</h2>
}
