<div>
  <form [formGroup]="formCreateGlobalMessage">
    <h4>Description : </h4><input type="text" formControlName="description"><br/>
    <h4>Start date : </h4><input type="datetime-local" formControlName="startDatetime"><br/>
    <h4>End date : </h4><input type="datetime-local" formControlName="endDatetime"><br/>
    <button
      type="submit"
      class="custom-btn rounded-3 col-3"
      [disabled]="formCreateGlobalMessage.invalid"
      (click)="createGlobalMessage()">
      Create Messages
    </button>
  </form>
</div>
