<table class="table mb-0 mt-1">
  <tr class="border-bottom border-dark-subtle">
    <th class="col-auto">Food</th>
    <th>Day</th>
    <th>Time</th>
    <th>Quantity</th>
    @if (isEditMode) {
      <th></th>
    }
  </tr>
  @for (planFood of planFoods; track $index) {
    <tr>
      <td class="text-break">{{planFood.name}}</td>
      <td>{{planFood.dayNumber}}</td>
      <td>{{planFood.dayTime}}</td>
      <td>{{planFood.quantityInG}}g</td>
      @if (isEditMode) {
        <td><input type="button" value="X" (click)="deletePlanFood($index)"></td>
      }
    </tr>
  }
</table>
