<div class="graph-background container p-1 mt-3 rounded-3">
  <div class="mt-3 text-center">
    <h3>Your food data</h3>
  </div>
  <div class="d-flex justify-content-center mt-1">
    <div class="rounded-3 overflow-hidden">
      <input (click)="setDataType('calories')" routerLinkActive="active" type="button"
             class="page-btn btn btn-light rounded-0" value="calories" [class.active]="dataType == 'calories'">
      <input (click)="setDataType('cholesterol')" routerLinkActive="active" type="button"
             class="page-btn btn btn-light rounded-0" value="cholesterol" [class.active]="dataType == 'cholesterol'">
      <input (click)="setDataType('sugars')" routerLinkActive="active" type="button"
             class="page-btn btn btn-light rounded-0" value="sugars" [class.active]="dataType == 'sugars'">
      <input (click)="setDataType('proteins')" routerLinkActive="active" type="button"
             class="page-btn btn btn-light rounded-0" value="proteins" [class.active]="dataType == 'proteins'">
    </div>
  </div>
  <div class="d-flex flex-row justify-content-center mt-1">
    <div class="overflow-hidden p-3">
      <button class="p-2 custom-btn rounded-3" (click)="setGraphType('scatter')">
        <i class="fa-solid fa-chart-line"></i>
      </button>
    </div>
    <div class="overflow-hidden p-3">
      <button class="p-2 custom-btn rounded-3" (click)="setGraphType('bar')">
        <i class="fa-solid fa-chart-simple"></i>
      </button>
    </div>
    <div class="overflow-hidden p-3">
      <button class="p-2 custom-btn rounded-3" (click)="setGraphType('stacked-bar')">
        <i class="fa-solid fa-chart-column"></i>
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
