* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Bahnschrift, sans-serif;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-attachment: fixed;
  background: linear-gradient(45deg, #B3C5D7, #7392B7, #759EB8);
  animation: animate 7s infinite alternate;
  background-repeat: no-repeat;
}
