.responsive-table {
  padding-left: 0;
  li {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .table-header {
    background-color: #aaaaaa;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  .table-row-container {
    transition: transform 0.5s ease, box-shadow 0.5s;
  }

  .table-row-container:hover {
    transform: translateY(-10px);
  }

  .table-row {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.card {
  transition: transform 0.5s ease, box-shadow 0.5s;
  border-radius: 10px;
  min-height: 30vh;
  position: relative;
}

.card-header {
  border-bottom: none;
  min-height: 20vh;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.icon-top-right {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

button {
  transition: transform 0.5s ease, box-shadow 0.5s;
  border: none;
  min-width: 50px;
  width: auto;
}

.custom-btn:hover {
  background-color: #878787;
  transform: translateY(-10px);
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.custom-width {
  width: 15%;
}

.food-color {
  background: linear-gradient(135deg, #ffe498, #ffdb80);
}

.sport-color {
  background: linear-gradient(135deg, #ffa198, #ff8a80);
}

.sleep-color {
  background: linear-gradient(135deg, #98b0ff, #8098ff);
}

.selected {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.selected::after {
  content: '✔';
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
