@if (users.length) {
  <div class="table-responsive">
    <table class="w-100 table responsive-table table-striped">
      <tr class="table-header text-start">
        <th class="col-3">Username</th>
        <th class="col-6"> Email</th>
        <th class="col-2">Role</th>
        <th></th>
      </tr>
      @for (user of users; track $index) {
        <tr class="table-row">
          <td class="col-3">{{ user.username }}</td>
          <td class="col-6">{{ user.mail }}</td>
          <td class="col-2">{{ user.role }}</td>
          @if (getRoleIsAdmin()) {
            <td>
              <app-user-ban class="bg-transparent"
                            [userIsBanned]="user.isBanned"
                            (userIsBannedChange)="onUserBanStatusChange(user.id, $event)"
                            (deleteUserPlans)="deleteAllPlansOfUser(user.id, $event)"
                            (deleteUserPrograms)="deleteAllProgramsOfUser(user.id, $event)"
                            (deleteUserFeedbacks)="deleteAllFeedbacksOfUser(user.id, $event)"
              >
              </app-user-ban>
            </td>
          }
        </tr>
      }
    </table>
  </div>
} @else {
  <h2>No Users Found</h2>
}
