@if (users.length) {
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Birthdate</th>
        <th>Gender</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Is Ban</th>
      </tr>
      </thead>
      <tbody>
        @for (user of users; track $index) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.birthDate | date: 'd-M-y' }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.isBanned }}</td>
            @if (user.isBanned) {
              <button type="button" (click)="unbanUser(user.id)">Unban User</button>
            } @else {
              <button type="button" (click)="banUser(user.id)">Ban User</button>
            }
            <button type="button" (click)="deleteAllPlansOfUser(user.id)">Delete plans</button>
            <button type="button" (click)="deleteAllProgramsOfUser(user.id)">Delete programs</button>
            <button type="button" (click)="deleteAllFeedbacksOfUser(user.id)">Delete feedbacks</button>
          </tr>
        }
      </tbody>
    </table>
  </div>
} @else {
  <h2>No Users Found</h2>
}
