<div class="container text-center">
  @for (plan of plans; track $index) {
    <div class="container text-center">
      <div class="row mt-3 mb-2">
        <div class="col-2">
          <input class="form-control" [value]="plan.name" disabled>
        </div>
        <div class="col-2">
          <input class="form-control" [value]="plan.privacy" disabled>
        </div>
        <div class="col-2">
          <input class="form-control" [value]="plan.category" disabled>
        </div>
        <div class="col-2">
          <input class="form-control" [value]="plan.durationInDays" disabled>
        </div>
      </div>

      <div class="row mt-3 mb-2">
        <input class="form-control" [value]="plan.description" style="min-height: 25vh" disabled>
      </div>
    </div>
  }
</div>
