<div class="container text-center">
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col-2">Name</div>
      <div class="col-2">Privacy</div>
      <div class="col-2">Duration (days)</div>
      <div class="col-2">Description</div>
    </li>
    @for (plan of plans; track $index) {
      <div class="horizontal-text text-white text-uppercase text-center"
           [ngClass]="{'bg-warning': plan.category == 'food','bg-danger': plan.category == 'sport','bg-primary': plan.category == 'sleep'}">
        {{ plan.category }}
      </div>
      <li class="table-row border-top border-5"  [ngClass]="{'border-warning': plan.category == 'food','border-danger': plan.category == 'sport','border-primary': plan.category == 'sleep'}">
        <div class="col-2">
          {{ plan.name }}
        </div>
        <div class="col-2">
          {{ plan.privacy }}
        </div>
        <div class="col-2">
          {{ plan.durationInDays }}
        </div>
        <div class="col-2">
          <input type="button" class="bg-dark-subtle rounded text-uppercase p-2" value="Show"
                 (click)="showPlanInfo(plan.id)">
        </div>
      </li>
      @if (plan == selectedPlan) {
        <div>
          <app-plan-info [plan]="selectedPlan"></app-plan-info>
        </div>
      }
    }
  </ul>
</div>
