<form [formGroup]="form" class="container text-center" (submit)="emitCreatePlan()">
    <div class="row">
        <textarea class="form-control-lg col-sm-4 w-auto m-3" formControlName="name" placeholder="Title"></textarea>

        <select class="form-control-lg col-sm-4 w-auto m-3" formControlName="privacy">
            <option value="Private" selected>Private</option>
            <option value="Public">Public</option>
        </select>

        <select class="form-control-lg col-sm-4 w-auto m-3" formControlName="category">
            <option value="sport" selected>Sport</option>
            <option value="food">Food</option>
            <option value="sleep">Sleep</option>
        </select>

        <div>
            <label>
                Duration (days) <input type="number" class="form-control-lg col-sm-4 w-25 m-3"
                                       formControlName="durationInDays">
            </label>
        </div>

        <input class="btn btn-primary col-sm-4 offset-sm-3 w-25 mt-3 mb-3" type="submit" [disabled]="form.invalid"
               value="Finish">
    </div>

    <div class="row">
        <textarea class="form-control-lg" formControlName="description" placeholder="Description"
                  style="min-height: 25vh"></textarea>
    </div>
</form>
