<div class="d-flex flex-column justify-content-center align-items-center me-5 ms-5 mt-2 mb-2">
  <div class="row w-100">
    @for (messages of globalMessages; track $index) {
      <div class="col-12 col-md-4 mt-3">
        <div class="card h-100 border-top-food-color">
          <div class="card-header rounded-0 flex-row justify-content-between align-items-center">
            <h4 class="card-title text-dark fw-bold">Id Messages : {{ messages.id }}</h4><br>
          </div>
          <div class="card-body">
            <p><b>Description :</b> {{ messages.description }}</p>
            <p><b>Start date :</b> {{ getDateTime(messages.startDatetime) }}</p>
            <p><b>End date :</b> {{ getDateTime(messages.endDatetime) }}</p>
          </div>
          <div class="card-footer d-flex justify-content-around gap-1 m-1">
            <button class="btn btn-sm btn-danger" (click)="deleteGlobalMessages(messages.id)">Delete</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
