<div>
  <div class="d-flex justify-content-center">
    <input type="button" class="page-btn p-2" value="Previous" mwlCalendarPreviousView [(viewDate)]="viewDate" [view]="view" [class.active]="isActive('previous')" (click)="setActive('previous')" style="width: 10vw;">
    <input type="button" class="page-btn p-2" value="Today" mwlCalendarToday [(viewDate)]="viewDate" [class.active]="isActive('today')" (click)="setActive('today')" style="width: 10vw;">
    <input type="button" class="page-btn p-2" value="Next" mwlCalendarNextView [(viewDate)]="viewDate" [view]="view" [class.active]="isActive('next')" (click)="setActive('next')" style="width: 10vw;">
  </div>
  <div class="d-flex justify-content-center p-2">{{ viewDate | calendarDate:(view + 'ViewTitle') : 'en' }}</div>

  <span [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view>
  </span>
</div>
