<div class="d-flex justify-content-center mb-2">
  <div class="rounded-3 overflow-hidden">
    <button type="button" class="page-btn p-2" (click)="previousPage()" style="width: 50px" [disabled]="pageNumber <= 1">
      <i class="fa-solid fa-angle-left"></i>
    </button>

    <input type="button" class="page-btn p-2" [value]="pageNumber" style="width: 100px">

    <button type="button" class="page-btn p-2" (click)="nextPage()" style="width: 50px">
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div>

<div class="container">
  <div class="overflow-auto row" style="height: 80vh">
    @for (messages of globalMessages; track $index) {
      <div class="col-12 col-md-6 mt-3">
        <div class="card border-top-food-color">
          <div class="rounded-0 flex-row justify-content-between align-items-center mt-2 ms-3">
            <h4 class="card-title text-dark fw-bold"><u>Id :</u> {{ messages.id }}</h4><br>
          </div>
          <div class="mt-2 ms-3">
            <p><b>Description :</b> {{ messages.description }}</p>
            <p><b>Start date :</b> {{ getDateTime(messages.startDatetime) }}</p>
            <p><b>End date :</b> {{ getDateTime(messages.endDatetime) }}</p>
          </div>
          <div class="card-footer d-flex justify-content-around gap-1 m-1">
            <button class="btn btn-sm btn-danger" (click)="deleteGlobalMessages(messages.id)">Delete</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
