$marian-blue: #424874;
$periwinkle-pink: #DCD6F7;
$periwinkle-blue: #A6B1E1;
$french-gray: #CACFD6;
$azure-web: #D6E5E3;
$columbia-blue: #C5D5EA;
$air-superiority-blue: #759EB8;
$silver-lake-blue: #7392B7;
$powder-blue: #B3C5D7;
$alice-blue: #D8E1E9;
$food-color: rgba(244, 197, 68, 0.52);
$sport-color: rgba(244, 115, 68, 0.76);
$sleep-color: rgba(27, 156, 55, 0.76);
$period-color: rgba(182, 43, 137, 0.76);
$weight-color: rgba(43, 182, 182, 0.76);
$height-color: rgba(182, 43, 68, 0.76);
$search: #35608a;

.responsive-table {
  margin-top: 2%;
  padding-left: 0;
  tr {
    padding: 25px 30px;
    display: flex;
    margin-bottom: 15px;
  }

  .table-header {
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid $french-gray;
    border-radius: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .table-row-container {
    transition: transform 0.5s ease, box-shadow 0.5s;
  }

  .table-row-container:hover {
    transform: translateY(-6px);
    cursor: pointer;
  }

  .table-row {
    background-color: $alice-blue;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.card {
  transition: transform 0.5s ease, box-shadow 0.5s;
  border-radius: 10px;
  min-height: 30vh;
  position: relative;
}

.card-header {
  border-bottom: none;
  min-height: 20vh;
  border-radius: 15px;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.icon-top-right {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 40px;
  height: 40px;
  z-index: 10;
}

button, input[type=button], input[type=submit] {
  transition: transform 0.5s ease, box-shadow 0.5s;
  border: none;
  min-width: 50px;
  width: auto;
}

textarea {
  background-color: $alice-blue;
}

.custom-btn {
  padding: 5px;
  background-color: $alice-blue;
}

.custom-btn:hover {
  background-color: $french-gray;
  transform: translateY(-3px);
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.custom-width {
  width: 150px;
}

.selected {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.selected::after {
  content: '✔';
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.graph-background {
  background: $french-gray;
}

.program-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    list-style: none;
    background: aliceblue;
  }

  .program {
    transition: transform 0.5s ease, box-shadow 0.5s;
  }

  .program:hover {
    transform: translateY(-6px);
    cursor: pointer;
  }
}

.plan {
  background: aliceblue;
  transition: transform 0.5s ease, box-shadow 0.5s;
}

.plan:hover {
  transform: translateY(-6px);
  cursor: pointer;
}

.sign-form-container {
  height: 100vh;
  width: 100vw;
}

.form-container {
  min-height: 80vh;
  min-width: 80vw;
  background: linear-gradient(to bottom right, rgba(197, 213, 234, 0.67) 50%, #d4e0f1 50%);
  animation: moveBackground 10s linear infinite;
  background-size: 200% 200%;
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
.form-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.custom-form {
  min-height: 30vh;
  min-width: 35vw;
  background: transparent;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.search-input {
  border: none;
}

.search-input:focus {
  outline: 3px solid $marian-blue;
}

.search-btn {
  background-color: $search;
  outline: none;
  color: white;
}

// Backgrounds colors
.food-color {
  background-color: $food-color !important;
}

.sport-color {
  background-color: $sport-color !important;
}

.sleep-color {
  background-color: $sleep-color !important;
}

.period-color {
  background-color: $period-color !important;
}

.weight-color {
  background-color: $weight-color !important;
}

.height-color {
  background-color: $height-color !important;
}

.border-top-food-color {
  border-top: 20px solid $food-color !important;
}

.border-top-sport-color {
  border-top: 20px solid $sport-color !important;
}

.border-top-sleep-color {
  border-top: 20px solid $sleep-color !important;
}

.border-top-period-color {
  border-top: 20px solid $period-color !important;
}

.border-top-weight-color {
  border-top: 20px solid $weight-color !important;
}

.border-top-height-color {
  border-top: 20px solid $height-color !important;
}

// Icons
.custom-icon {
  font-size: 5rem;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
