// Variables

$marian-blue: #424874;
$periwinkle-pink: #DCD6F7;
$periwinkle-blue: #A6B1E1;
$french-gray: #CACFD6;
$azure-web: #D6E5E3;
$columbia-blue: #C5D5EA;
$air-superiority-blue: #759EB8;
$silver-lake-blue: #7392B7;
$powder-blue: #B3C5D7;
$alice-blue: #D8E1E9;
$food-color: rgba(244, 197, 68, 0.52);
$sport-color: rgba(244, 115, 68, 0.76);
$sleep-color: rgba(27, 156, 55, 0.76);
$period-color: rgba(182, 43, 137, 0.76);
$weight-color: rgba(43, 182, 182, 0.76);
$height-color: rgba(182, 43, 68, 0.76);
$search: #35608a;

.max-vh-50 {
  max-height:50vh!important
}

// Responsive Table

.responsive-table {
  margin-top: 2%;
  padding-left: 0;

  tr {
    padding: 25px 30px;
    display: flex;
    margin-bottom: 15px;
  }

  .table-header {
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid $french-gray;
    border-radius: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .table-row-container {
    transition: transform 0.5s ease, box-shadow 0.5s;

    &:hover {
      transform: translateY(-6px);
      cursor: pointer;
    }
  }

  .table-row {
    background-color: $alice-blue;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

// Card Styles

.small-text {
  font-size: 0.875rem;
}

.card {
  transition: transform 0.5s ease, box-shadow 0.5s;
  border-radius: 10px;
  min-height: 30vh;
  position: relative;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .card-header {
    border-bottom: none;
    min-height: 20vh;
    border-radius: 15px;
  }
}

// Buttons and Inputs

button,
input[type="button"],
input[type="submit"] {
  transition: transform 0.5s ease, box-shadow 0.5s;
  border: none;
  min-width: 50px;
  width: auto;
}

.custom-btn-lock {
  background-color: $french-gray;
  border: none;
  transition: background-color 0.3s ease, transform 0.1s ease;

  &:hover {
    background-color: #C4C4D0;
  }
}

.custom-btn {
  padding: 5px;
  background-color: $alice-blue;

  &:hover {
    background-color: $french-gray;
    transform: translateY(-3px);
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
}

// Forms and Containers

textarea {
  background-color: $alice-blue;
}

.form-container {
  min-height: 80vh;
  min-width: 80vw;
}

.custom-form {
  min-height: 30vh;
  min-width: 35vw;
  background-color: $alice-blue;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.custom-insert-form {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

// Search Input and Button
.search-input {
  border: none;

  &:focus {
    outline: 3px solid $marian-blue;
  }
}

.form-outline i {
  position: absolute;
  top: 0.7rem;
  left: 0.7rem;
  //transform: translateY(-50%);
  //transform: translateX(-850%);
  pointer-events: none;
}

.search-btn {
  background-color: $search;
  outline: none;
  color: white;
}

// Icons

.custom-icon {
  font-size: 50px;
  box-shadow: 0 0 0.1em 0 rgba(0, 0, 0, 0.5);
}

// Program and Plan Styles

.program-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    list-style: none;
    background: aliceblue;
  }

  .program {
    transition: transform 0.5s ease, box-shadow 0.5s;

    &:hover {
      transform: translateY(-6px);
      cursor: pointer;
    }
  }
}

.plan {
  background: aliceblue;
  transition: transform 0.5s ease, box-shadow 0.5s;

  &:hover {
    transform: translateY(-6px);
    cursor: pointer;
  }
}

// Background Colors

.food-color {
  background-color: $food-color !important;
}

.sport-color {
  background-color: $sport-color !important;
}

.sleep-color {
  background-color: $sleep-color !important;
}

.period-color {
  background-color: $period-color !important;
}

.weight-color {
  background-color: $weight-color !important;
}

.height-color {
  background-color: $height-color !important;
}

// Border Top Colors

.border-top-food-color {
  border-top: 20px solid $food-color !important;
}

.border-top-sport-color {
  border-top: 20px solid $sport-color !important;
}

.border-top-sleep-color {
  border-top: 20px solid $sleep-color !important;
}

.border-top-period-color {
  border-top: 20px solid $period-color !important;
}

.border-top-weight-color {
  border-top: 20px solid $weight-color !important;
}

.border-top-height-color {
  border-top: 20px solid $height-color !important;
}

// Graphs

.graph-background {
  background: $french-gray;
}

.page-btn:hover {
  background-color: #a5a5a5;
}

// Keyframes

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
