<div class="container text-center">
  <form class="p-3 rounded" [formGroup]="form" (submit)="emitSearchPlan()" [@colorChange]="colorChange">
    <div class="row mt-3 mb-2">
      <div class="col-2">
        <input class="form-control" formControlName="name" placeholder="Title">
      </div>

      <div class="col-2">
        <select formControlName="category" class="form-control">
          <option value="sport" selected>Sport</option>
          <option value="food">Food</option>
          <option value="sleep">Sleep</option>
        </select>
      </div>

      <div class="col-8">
        <input class="btn btn-primary w-100" type="submit" [disabled]="form.invalid" value="Filter">
      </div>
    </div>

  </form>

  <div class="d-flex">
    <ul class="responsive-table w-100">
      <li class="table-header">
        <div class="col-4" data-label="Name">Name</div>
        <div class="col-4" data-label="Privacy">Privacy</div>
        <div class="col-4" data-label="Duration">Duration (days)</div>
      </li>
      @for (plan of plans; track $index) {
        <div class="table-row-container" (click)="showPlanInfo(plan.id)">
          <div class="custom-width text-white text-uppercase text-center"
               [ngClass]="{'bg-warning': plan.category == 'food','bg-danger': plan.category == 'sport','bg-primary': plan.category == 'sleep'}">
            {{ plan.category }}
          </div>
          <li class="table-row border-top border-5"
              [ngClass]="{'border-warning': plan.category == 'food','border-danger': plan.category == 'sport','border-primary': plan.category == 'sleep'}">
            <div class="col-4">
              {{ plan.name }}
            </div>
            <div class="col-4">
              {{ plan.privacy }}
            </div>
            <div class="col-4">
              {{ plan.durationInDays }}
            </div>
          </li>
          @if (plan == selectedPlan) {
            <div>
              <app-plan-info [plan]="selectedPlan"></app-plan-info>
            </div>
          }
        </div>
      }
    </ul>
  </div>
</div>
