<div class="container text-center">
  <form class="p-3 rounded" [formGroup]="form" (submit)="emitSearchPlan()" [@colorChange]="colorChange">
    <div class="row mt-3 mb-2">
      <div class="col-2">
        <input class="form-control" formControlName="name" placeholder="Title">
      </div>

      <div class="col-2">
        <select formControlName="category" class="form-control">
          <option value="sport" selected>Sport</option>
          <option value="food">Food</option>
          <option value="sleep">Sleep</option>
        </select>
      </div>

      <div class="col-8">
        <input class="btn btn-primary w-100" type="submit" [disabled]="form.invalid" value="Filter">
      </div>
    </div>

  </form>

  <div class="d-flex">
    <ul class="responsive-table w-100">
      <li class="table-header">
        <div class="col-2">Name</div>
        <div class="col-2">Privacy</div>
        <div class="col-2">Duration (days)</div>
        <div class="col-2">Description</div>
      </li>
      @for (plan of plans; track $index) {
        <div class="horizontal-text text-white text-uppercase text-center"
             [ngClass]="{'bg-warning': plan.category == 'food','bg-danger': plan.category == 'sport','bg-primary': plan.category == 'sleep'}">
          {{ plan.category }}
        </div>
        <li class="table-row border-top border-5"  [ngClass]="{'border-warning': plan.category == 'food','border-danger': plan.category == 'sport','border-primary': plan.category == 'sleep'}">
          <div class="col-2">
            {{ plan.name }}
          </div>
          <div class="col-2">
            {{ plan.privacy }}
          </div>
          <div class="col-2">
            {{ plan.durationInDays }}
          </div>
            <div class="col-2">
              <button class="rounded p-2" (click)="showPlanInfo(plan.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                  <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
                </svg>
              </button>
            </div>
        </li>
        @if (plan == selectedPlan) {
          <div>
            <app-plan-info [plan]="selectedPlan"></app-plan-info>
          </div>
        }
      }
    </ul>
  </div>
</div>
