<div class="container text-center">
  <form class="d-flex flex-column justify-content-center align-items-center p-3 rounded"
        [formGroup]="form" (submit)="emitSearchPlan()" [@colorChange]="colorChange">
    <!-- Champ Title -->
    <div class="w-50 mb-2">
      <input class="form-control" formControlName="name" placeholder="Title">
    </div>

    <!-- Champ Category -->
    <div class="w-50 mb-2">
      <select formControlName="category" class="form-control">
        <option value="sport" selected>Sport</option>
        <option value="food">Food</option>
        <option value="sleep">Sleep</option>
      </select>
    </div>

    <!-- Bouton Submit -->
    <div class="w-50 mb-2">
      <input class="custom-btn rounded-3 w-100 mt-auto" type="submit" [disabled]="form.invalid" value="Filter">
    </div>

  </form>


  <ul class="program-list mt-3">
    @for (plan of plans; track $index) {
      <li (click)="showPlanInfo(plan.id)">
        <div class="d-flex">
          <div class="col-4 col-md-2 text-white text-uppercase text-center"
               [ngClass]="{'food-color': plan.category == 'food','sport-color': plan.category == 'sport','sleep-color': plan.category == 'sleep'}">
            {{ plan.category }}
          </div>
          <div class="col-4 col-md-4 ps-3">
            Duration: {{ plan.durationInDays }} days
          </div>
        </div>
        <div class="p-1">
          <div> {{ plan.name }}</div>
          @if (plan == selectedPlan) {
            <div>
              <ul>
                Tags:
                @for (astPlansTags of tags; track $index) {
                  <li>{{astPlansTags.tag.name}}</li>
                }
              </ul>
            </div>
            <div>
              <app-plan-info [plan]="selectedPlan"></app-plan-info>
            </div>
          }
        </div>

      </li>
    }
  </ul>
</div>
