<div class="modal-header">
  <h5 class="modal-title">UserBan actions</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  Delete all the programs, plans or feedbacks that the user banned made. Press on the button which one you want to delete ?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="deleteUserPlan()">Delete plans</button>
  <button type="button" class="btn btn-primary" (click)="deleteUserProgram()">Delete programs</button>
  <button type="button" class="btn btn-primary" (click)="deleteUserFeedback()">Delete feedbacks</button>
  <button type="button" class="btn btn-secondary" (click)="modalRef.close()">Delete nothing</button>
</div>
